<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.pocketalk.ios.pt.translation.weekly.nofreetrial.0000310280</string>
	<string>com.pocketalk.ios.pt.translation.monthly.nofreetrial.0000310260</string>
	<string>com.pocketalk.ios.pt.translation.yearly.nofreetrial.0000310270</string>
</array>
</plist>
