//
//  Base.xcconfig
//  PockeTalk
//
//  Created by Morshed Alam on 1/26/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = PockeTalk
IS_APP_ICON = AppIcon
BASE_URL = https:\/\/pt-v.com
PRODUCT_BUNDLE_IDENTIFIER = com.pocketalk.ios.pt.translation.japan
