//
//  TokoyoServer_Stage.xcconfig
//  PockeTalk
//
//  Created by Morshed Alam on 1/26/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Base.xcconfig"

PRODUCT_NAME = $(inherited)
IS_APP_ICON = AppIcon
BASE_URL = https:\/\/test2.pt-v.com
PRODUCT_BUNDLE_IDENTIFIER = $(inherited)
IMEI = 000001006154923
AUDIO_STREAM_BASE_URL = wss:\/\/test2.pt-v.com
