<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958429054171-osiumu3oi3u49f3kkml4li3a9nhgktvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958429054171-osiumu3oi3u49f3kkml4li3a9nhgktvs</string>
	<key>API_KEY</key>
	<string>AIzaSyA_sWyYh_KbNn6p38kKZwDDBRYzL6xOTfk</string>
	<key>GCM_SENDER_ID</key>
	<string>958429054171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pocketalk.ios.pt.translation</string>
	<key>PROJECT_ID</key>
	<string>pocketalk-app-stg-28af1</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketalk-app-stg-28af1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958429054171:ios:29d71a1365d6e8777cf8fe</string>
</dict>
</plist>